#order-tracking {
    font-family: 'Overpass';
    background: white;
    color: black;
}

.saparator {
    margin: 0;
    height: 8px;
    width: 100%;
    background-color: #F8F8F8;
    border: none;
}

.saparator-1px{
    height: 1px;
    background-color: #F8F8F8;
    border: none;
    margin: 0px;
}

.orderTracking-svg svg {
  width : 20px;
}

/*loader*/

.orderTracking-loader {
    display: flex;
    align-items: center;
    justify-content:center;
}

/* product card */

.orderTrackingCard {
    display: flex;
    padding: 10px 20px;
}

/* fonts */

.orderTracking-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
}

.orderTracking-para {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.orderTracking-para-bold {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.orderTracking-bold {
    font-weight: 900;
    font-size: 14px;
    line-height: 150%;
}

.orderTracking-xbold {
    font-weight: 900;
    font-size: 16px;
    line-height: 200%;
}


/* orderId and back */

.orderId-back-button {
    display: flex;
}

.button-back {
    border: none;
    background: transparent;
    padding: 0 17px 0 0;
    display: flex;
    align-items: center;
}

.orderId-back-button {
    padding: 16px 27.5px;
}

/* orderInfoCard */

.order-info>img {
    margin-right: 20px;
}

.product-image {
    box-sizing: border-box;
    width: 90px;
    height: 120px;
    border: 1px solid #F8F8F8;
    border-radius: 10px;
}

.product-info {
    padding-top: 8px;
}

.product-name {
    text-transform: lowercase;
    color: #767676;
}

.product-size {
    margin-top: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #767676;
}

.product-size>.spacer {
    width: 40px;
    display: inline-block;
}

.price {
    margin-top: 24px;
    display: flex;
    gap: 8px;
}

.price>.final-price {
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    mix-blend-mode: normal;
    opacity: 0.9;
}

.price>.full-price {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-decoration-line: line-through;
    color: #9B9B9B;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.price>.discount-percent {
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #EF4044;
    opacity: 0.8;
}

.price>.discount-percent::after{
    content: ")";
}
.price>.discount-percent::before{
    content: "(";
}

/* time line */

.timeline{
    flex-direction: column;
}

.timeline-event {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border-top: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
}

.timeline-event:last-child {
    border-bottom: 1px solid #D9D9D9;
}

.timeline>.not,
.timeline>.completed {
    color: #767676;
}

.timeline>.in-progress {
    background: #02B875;
    border: 1px solid #02B875;
    color: #FFFFFF;
}

.dot-line {
    height: 100%;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-line>.dot {
    height: 8px;
    width: 8px;
    border-radius: 100%;
}

.timeline>.in-progress .dot {
    background: #ffffff;
}

.timeline>.not .dot {
    background: #D9D9D9;
}

.timeline>.completed .dot {
    background: #02B875;
}

.timeline .line {
    position: relative;
    right: 5px;
    height: 50px;
    width: 2px;
}

.timeline>.completed .line {
    background-color: #02B875;
}

.timeline>.in-progress .line {
    background-color: #ffffff;
}

.timeline>.not .line {
    background-color: #D9D9D9;
}

.timeline-event:last-child .line {
    height: 25px;
    position: relative;
    top: -12.5px
}

.timeline-event:first-child .line {
    height: 25px;
    position: relative;
    top: 12.5px;
}

/* cancel order */

.cancel-order-arrow {
  display: flex
}

.cancel-order {
    padding: 0 20px;
    height: 50px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cancel-order>button {
    border: none;
    background: #FFFFFF;
}

/* order summary */

.order-summary {
    display: flex;
    /* padding: 20px; */
    gap: 20px;
}

.order-summary-titles,
.order-summary-values {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #222222;
}

.order-summary-values {
    font-weight: 700;
    padding-left: 60px;
}

/* address */

.addresses {
    flex-direction: column;
}
.orderTrackingAddress{
  min-height:72px;
  border-bottom: 1px solid #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.shippingAddress,
.billingAddress {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 12px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.shippingAddress-value,
.billingAddress-value {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.shippingAddress-phone,
.billingAddress-phone {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}

.orderTracking-svg {
  min-height : 15px  
}

/* Payment card */
.paymentMode {
    display: flex;
    flex-direction: column;
}

/* order summary */

.orderDetailsContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.order-summary-title,.order-summary-value {
  line-height:200%;
}
.orderSummary {
    width: 100%;
}

.orderDetailsContainer>.titles>.title {
    margin-top: 20px;
}
.orderDetailsContainer>.values>.value {
    margin-top: 20px;
}

.freeShipping {
  color: green
}

 @media (max-width: 767px) {
.timeline>.in-progress {
background: #02B875 !important;
    border: 1px solid #02B875 !important;
    color: #FFFFFF !important;
}
}

/* .orderTracker .order-tracker-card{
  background-color :rgb(247,255,247);
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.orderTracker svg{
  height: 30px;
  width: 30px
}

.order-tracker-discription {
  padding: 10px;
}

.order-tracker-card-title {
  margin-bottom: 0;
}

.orderTracker .order-tracker-card-content {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.order-info-container {
  border-top: 1px solid #f0f0f0;
  margin-top: 1.5rem;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
  padding: 10px;
}

.order-info-container .orderId {
  width: 100%;
  padding: 0px 10px 10px;
  border-bottom: 1px solid #f0f0f0;
  font-size: small;
  font-weight: 400;
  color: grey;
  line-height: 12px;
}

.order-info-container .order-details {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0;
}

.order-info-container .order-details .product-image img {
  max-width: 80px;
  max-height: 80px;
}

.product-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.product-attribute {
  font-size: 12px;
  color: grey;
  margin-bottom: 20px;
}

.timeline {
  position: relative;
  margin-left: 10px;
}

.timeline::before {
  content: '';
  position: absolute;
  left: -2px;
  width: 2px;
  height: 80%;
  background-color: green;
  animation: lineanim 2s;
}

.order-tracker-spinner {
  display: flex;
    justify-content: center;
    color: gray;

}

@keyframes lineanim {
  0%{ height: 0%; }
  100%{ height: 80%; background-color: green;}
}

.timeline-item {
  min-height: 40px;
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.timeline-item .title-container{
  display: flex;
  gap: 15px;
}

.timeline-item .dot {
  display: block;
  position: relative;
  left: -6px;
  top: -5px;
  margin-top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid green;
  background-color: green;
}

.timeline-item .timeline-item-title {
  position: relative;
  top: -10px;
  font-size: 14px;
  font-weight: 500;
}

.timeline-item .timeline-item-discription {
  position: relative;
  top: -10px;
  font-size: 12px;
  color: grey;
} */