#order-tracking {
    font-family: 'Overpass';
    background: white;
    color: black;
}

.saparator {
    margin: 0;
    height: 8px;
    width: 100%;
    background-color: #F8F8F8;
    border: none;
}

.saparator-1px{
    height: 1px;
    background-color: #F8F8F8;
    border: none;
    margin: 0px;
}

.orderTracking-svg svg {
  width : 20px;
}

/*loader*/

.orderTracking-loader {
    display: flex;
    align-items: center;
    justify-content:center;
}

/* product card */

.orderTrackingCard {
    display: flex;
    padding: 10px 20px;
}

/* fonts */

.orderTracking-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
}

.orderTracking-para {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.orderTracking-para-bold {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.orderTracking-bold {
    font-weight: 900;
    font-size: 14px;
    line-height: 150%;
}

.orderTracking-xbold {
    font-weight: 900;
    font-size: 16px;
    line-height: 200%;
}


/* orderId and back */

.orderId-back-button {
    display: flex;
}

.button-back {
    border: none;
    background: transparent;
    padding: 0 17px 0 0;
    display: flex;
    align-items: center;
}

.orderId-back-button {
    padding: 16px 27.5px;
}

/* orderInfoCard */

.order-info>img {
    margin-right: 20px;
}

.product-image {
    box-sizing: border-box;
    width: 90px;
    /* height: 120px; */
    border: 1px solid #F8F8F8;
    border-radius: 10px;
}

.product-info {
    padding-top: 8px;
}

.product-name {
    text-transform: lowercase;
    color: #767676;
}

.product-size {
    margin-top: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #767676;
}

.product-size>.spacer {
    width: 40px;
    display: inline-block;
}

.price {
    margin-top: 24px;
    display: flex;
    gap: 8px;
}

.price>.final-price {
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    mix-blend-mode: normal;
    opacity: 0.9;
}

.price>.full-price {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-decoration-line: line-through;
    color: #9B9B9B;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.price>.discount-percent {
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #EF4044;
    opacity: 0.8;
}

.price>.discount-percent::after{
    content: ")";
}
.price>.discount-percent::before{
    content: "(";
}

/* time line */

.timeline{
    flex-direction: column;
    margin: 1rem 2rem;
    padding: 10px;
}

.timeline-event {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border-top: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
}

.timeline-event:last-child {
    border-bottom: 1px solid #D9D9D9;
}

.timeline>.PENDING,
.timeline>.COMPLETED {
    color: #767676;
}

.timeline>.IN_PROGRESS {
    background: #02B875;
    border: 1px solid #02B875;
    color: #FFFFFF;
}

.dot-line {
    height: 100%;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-line>.dot {
    height: 8px;
    width: 8px;
    border-radius: 100%;
}

.timeline>.IN_PROGRESS .dot {
    background: #ffffff;
}

.timeline>.PENDING .dot {
    background: #D9D9D9;
}

.timeline>.COMPLETED .dot {
    background: #02B875;
}

.timeline .line {
    position: relative;
    right: 5px;
    height: 50px;
    width: 2px;
}

.timeline>.COMPLETED .line {
    background-color: #02B875;
}

.timeline>.IN_PROGRESS .line {
    background-color: #ffffff;
}

.timeline>.PENDING .line {
    background-color: #D9D9D9;
}

.timeline-event:last-child .line {
    height: 25px;
    position: relative;
    top: -12.5px
}

.timeline-event:first-child .line {
    height: 25px;
    position: relative;
    top: 12.5px;
}

/* .timeline > div {
  height: 25px;
} */
.mensaOrdered {
  display: flex;
  color: green;
  align-items: flex-end;
}

.mensaOrdered::before {
  content: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' standalone='no'?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3e%3csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='25px' height='25px' viewBox='0 0 512.000000 512.000000' preserveAspectRatio='xMidYMid meet'%3e%3cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)' fill='green' stroke='none'%3e%3cpath d='M2393 5105 c-357 -65 -653 -318 -768 -656 -28 -80 -55 -228 -55 -296 l0 -42 -267 -3 c-266 -3 -268 -3 -325 -30 -107 -50 -185 -146 -208 -254 -5 -27 -62 -708 -126 -1514 -108 -1361 -116 -1472 -106 -1565 37 -341 260 -606 599 -712 l88 -28 1335 0 1335 0 88 28 c339 106 561 371 599 712 10 93 3 202 -106 1565 -64 806 -121 1487 -126 1514 -23 108 -101 204 -208 254 -57 27 -59 27 -324 30 l-268 3 0 42 c0 67 -27 216 -53 292 -99 290 -331 523 -618 620 -154 53 -334 68 -486 40z m304 -301 c271 -56 481 -266 537 -537 9 -42 16 -94 16 -117 l0 -40 -690 0 -690 0 0 40 c0 23 7 75 16 117 77 373 441 614 811 537z m-1127 -1191 c0 -178 2 -201 21 -239 21 -45 81 -84 129 -84 44 0 105 38 128 79 21 36 22 52 22 240 l0 201 690 0 690 0 0 -201 c0 -188 1 -204 22 -240 23 -41 84 -79 128 -79 48 0 108 39 129 84 19 38 21 61 21 239 l0 197 235 0 c276 0 268 3 278 -101 3 -35 57 -701 118 -1479 101 -1274 111 -1422 101 -1485 -34 -203 -202 -382 -403 -430 -96 -22 -2542 -22 -2638 0 -201 48 -369 227 -403 430 -10 63 0 212 101 1485 61 778 115 1444 118 1479 10 104 2 101 278 101 l235 0 0 -197z'/%3e%3cpath d='M3065 2604 c-16 -8 -183 -168 -370 -354 l-340 -340 -130 130 c-170 170 -213 192 -301 149 -31 -15 -48 -32 -63 -63 -26 -53 -26 -86 -2 -134 19 -36 372 -393 421 -426 28 -18 95 -21 137 -5 41 15 819 794 843 845 26 52 25 90 -3 138 -39 68 -125 95 -192 60z'/%3e%3c/g%3e%3c/svg%3e ");
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.mensaDeliveredOrder::before{
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg class='svg-icon' style='width: 1em; height: 1em;vertical-align: middle;fill:green;overflow: hidden;' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1008 512c0 273.934-222.066 496-496 496S16 785.934 16 512 238.066 16 512 16s496 222.066 496 496zM454.628 774.628l368-368c12.496-12.496 12.496-32.758 0-45.254l-45.254-45.254c-12.496-12.498-32.758-12.498-45.256 0L432 616.236l-140.118-140.118c-12.496-12.496-32.758-12.496-45.256 0l-45.254 45.254c-12.496 12.496-12.496 32.758 0 45.254l208 208c12.498 12.498 32.758 12.498 45.256 0.002z' fill='' /%3e%3c/svg%3e");
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.mensaDeliveredOrder {
  display: flex;
  color: green;
}

.mensaCancelledOrder::before {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 122.88 122.88'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%23eb0100;%7d.cls-1,.cls-2%7bfill-rule:evenodd;%7d.cls-2%7bfill:%23fff;%7d%3c/style%3e%3c/defs%3e%3ctitle%3ecancel%3c/title%3e%3cpath class='cls-1' d='M61.44,0A61.44,61.44,0,1,1,0,61.44,61.44,61.44,0,0,1,61.44,0Z'%3e%3c/path%3e%3cpath class='cls-2' d='M35.38,49.72c-2.16-2.13-3.9-3.47-1.19-6.1l8.74-8.53c2.77-2.8,4.39-2.66,7,0L61.68,46.86,73.39,35.15c2.14-2.17,3.47-3.91,6.1-1.2L88,42.69c2.8,2.77,2.66,4.4,0,7L76.27,61.44,88,73.21c2.65,2.58,2.79,4.21,0,7l-8.54,8.74c-2.63,2.71-4,1-6.1-1.19L61.68,76,49.9,87.81c-2.58,2.64-4.2,2.78-7,0l-8.74-8.53c-2.71-2.63-1-4,1.19-6.1L47.1,61.44,35.38,49.72Z'%3e%3c/path%3e%3c/svg%3e");
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.mensaCancelledOrder {
    display: flex;
    color: red;
}

/* cancel order */

.cancel-order-arrow {
  display: flex
}

.cancel-order {
    padding: 0 20px;
    height: 50px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cancel-order>button {
    border: none;
    background: #FFFFFF;
}

/* order summary */

.order-summary {
    display: flex;
    /* padding: 20px; */
    gap: 20px;
}

.order-summary-titles,
.order-summary-values {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #222222;
}

.order-summary-values {
    font-weight: 700;
    padding-left: 60px;
}
.Discount {
    color: green;
}
.Discount::before{
    content: "-";
    margin-right: .2rem;
    font-weight: 900;
    font-size: 14px;
}

/* address */

.addresses {
    flex-direction: column;
}
.orderTrackingAddress{
  min-height:72px;
  border-bottom: 1px solid #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.shippingAddress,
.billingAddress {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 12px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.shippingAddress-value,
.billingAddress-value {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.shippingAddress-phone,
.billingAddress-phone {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}

.orderTracking-svg {
  min-height : 15px  
}

/* Payment card */
.paymentMode {
    display: flex;
    flex-direction: column;
}

/* order summary */

.orderDetailsContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.order-summary-title,.order-summary-value {
  line-height:200%;
}
.orderSummary {
    width: 100%;
}

.orderDetailsContainer>.titles>.title {
    margin-top: 20px;
}
.orderDetailsContainer>.values>.value {
    margin-top: 20px;
}

.freeShipping {
  color: green
}

/* .orderTracker .order-tracker-card{
  background-color :rgb(247,255,247);
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.orderTracker svg{
  height: 30px;
  width: 30px
}

.order-tracker-discription {
  padding: 10px;
}

.order-tracker-card-title {
  margin-bottom: 0;
}

.orderTracker .order-tracker-card-content {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.order-info-container {
  border-top: 1px solid #f0f0f0;
  margin-top: 1.5rem;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
  padding: 10px;
}

.order-info-container .orderId {
  width: 100%;
  padding: 0px 10px 10px;
  border-bottom: 1px solid #f0f0f0;
  font-size: small;
  font-weight: 400;
  color: grey;
  line-height: 12px;
}

.order-info-container .order-details {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0;
}

.order-info-container .order-details .product-image img {
  max-width: 80px;
  max-height: 80px;
}

.product-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.product-attribute {
  font-size: 12px;
  color: grey;
  margin-bottom: 20px;
}

.timeline {
  position: relative;
  margin-left: 10px;
}

.timeline::before {
  content: '';
  position: absolute;
  left: -2px;
  width: 2px;
  height: 80%;
  background-color: green;
  animation: lineanim 2s;
}

.order-tracker-spinner {
  display: flex;
    justify-content: center;
    color: gray;

}

@keyframes lineanim {
  0%{ height: 0%; }
  100%{ height: 80%; background-color: green;}
}

.timeline-item {
  min-height: 40px;
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.timeline-item .title-container{
  display: flex;
  gap: 15px;
}

.timeline-item .dot {
  display: block;
  position: relative;
  left: -6px;
  top: -5px;
  margin-top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid green;
  background-color: green;
}

.timeline-item .timeline-item-title {
  position: relative;
  top: -10px;
  font-size: 14px;
  font-weight: 500;
}

.timeline-item .timeline-item-discription {
  position: relative;
  top: -10px;
  font-size: 12px;
  color: grey;
} */